<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auto-selection</title>

    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css"
          integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery (Cloudflare CDN) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js"
            integrity="sha512-igl8WEUuas9k5dtnhKqyyld6TzzRjvMqLC79jkgT3z02FvJyHAuUtyemm/P/jYSne1xwFI06ezQxEwweaiV7VA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-uppercase text-danger" href="#"><h1>Автоподбор</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/JPA/getFindAllJPA"><h2>Просмотр</h2></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/JPA/getInsertJPA"><h2>Добавление</h2></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/JPA/getUpdateJPA"><h2>Редактирование</h2></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/JPA/getDeleteJPA"><h2>Удаление</h2></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form action="http://localhost:8081/JPA/updateJPA" method="POST">
    <div>
        <fieldset>
            <legend>ИЗМЕНИТЬ ЗАЯВКУ НА АВТОПОДБОР</legend>
            <div>
                <label for="id">ID заявки</label>
                <input id="id" name="id" type="number" min="1" >

                <label for="car_model_id">Марка</label>
                <input id = "car_model_id" name="carModel" type="text" list="car_model_list">
                <datalist id="car_model_list">
                    <select>
                        <option value="Toyota"></option>
                        <option value="BMW"></option>
                        <option value="Opel"></option>
                        <option value="Reno"></option>
                        <option value="Audi"></option>
                        <option value="Hunday"></option>
                    </select>
                </datalist>

                <label for="car_month_id">Год выпуска</label>
                <input id="car_month_id" type="number" min="1900" max="2024" step="1"  name="carMounth">
            </div>

            <div>
                Тип кузова
                <select name="carTypeBody" size="1">
                    <option value="Sedan">Cедан</option>
                    <option value="SUV">Внедорожник</option>
                    <option value="Cabriolet">Кабриолет</option>
                </select>

                <label for="engine_volume_id">Объем двигателя</label>
                <input id="engine_volume_id" name="carEngineVolume" type="number" min="1200" max="2400" step="100" >
            </div>

            <div>
                <fieldset style="display:inline">
                    <legend>Тип двигателя</legend>
                    <input type="radio" name="carEngine" value="Gas engine"> Бензин
                    <input type="radio" name="carEngine" value="Diesel engine"> Дизель
                    <input type="radio" name="carEngine" value="Electro"> Электро
                </fieldset>

                <fieldset style="display:inline">
                    <legend>Трансмиссия</legend>
                    <input type="radio" name="carTransmission" value="Auto"> Автомат
                    <input type="radio" name="carTransmission" value="Mechanic"> Механика
                </fieldset>
            </div>


        </fieldset>
    </div>

    <div>
        <input type=submit value="Отправить">
        <input type=reset value="Очистить">
    </div>
</form>

<footer>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-body">Bootstrap for TeachMeSkills</a>
    </div>
</footer>
</body>
</html>

